{% extends 'base.html.twig' %}

{% block title %}O'Roliste
{% endblock %}

{% block body %}

	<h1>Bienvenue sur O'Roliste</h1>

	<div class="card-group mb-5">

		<div class="card h-100 mx-1">
			<div class="card-body">

				<h4>Dernières parties publiés</h4>

				{% for gameFive in gamesFive %}
					<ul>
						<li class="fw-bold text-capitalize">{{ gameFive.name }}</li>
						<li>{{ gameFive.description}}</li>
						<li>nombre de joueurs max .
							{{ gameFive.maxPlayer}}</li>
						<li>
							<a href="{{path('game_read',{'id': gameFive.id}) }}">
								<button class="btn btn-danger" type="button">Afficher plus de détails</button>
							</a>
						</li>
					</ul>

				{% endfor %}
				<div class="d-grid gap-2 col-6 mx-auto">
					<a href="{{path('game_browse') }}">
						<button class="btn btn-danger" type="button">Voir toutes les parties</button>
					</a>
				</div>
			</div>

		</div>

		<div class="card h-100 mx-1">
			<div class="card-body">

				<h4>Nouveaux joueurs disponibles</h4>

				{% for userFive in usersFive %}
					<ul>
						<li class="fw-bold text-capitalize">{{ userFive.username}}</li>
						<li><img src="{{ asset('images/upload/' ~ userFive.avatar) }}" alt="avatar de {{userFive.username}}" width="10%"></li>
						<li>{{ userFive.description}}
						</li>
						<li>
							<a href="{{path('user_read',{'id': userFive.id}) }}">
								<button class="btn btn-danger" type="button">Afficher plus de détails</button>
							</a>
						</li>
					</ul>
				{% endfor %}
				<div class="d-grid gap-2 col-6 mx-auto">
					<a href="{{path('user_browse') }}">
						<button class="btn btn-danger" type="button">Voir toutes les joueurs</button>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
