<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid mt-1 mb-1">
        {% if app.user is null %}
            <ul class="navbar me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{{path("app_login")}}">
                        <button class="btn btn-danger" type="button">
                            Connexion
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{path("user_signin")}}">
                        <button class="btn btn-danger" type="button">
                            Inscription
                        </button>
                    </a>
                </li>
            </ul>
        {% else %}

            <ul class="navbar me-auto mb-2 mb-lg-0">

                {% if is_granted('ROLE_USER') %}
                    {% if app.user.avatar is not null %}
                        <li class="nav-item">
                            {% set images_directory = app.request.server.get('UPLOAD_IMAGES_DIRECTORY') %}
                            <a href="{{path("user_profil")}}" class="nav-link">
                                <img src="{{ asset(images_directory ~ '/' ~ app.user.avatar)}}" class="rounded-circle" width="30" height="30" alt="{{app.user.username}}">
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{{asset("images/icons/envelope.svg")}}" width="25" height="25" alt="Message">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{{asset("images/icons/bell.svg")}}" width="25" height="25" alt="Notifications">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{{asset("images/icons/people.svg")}}" width="25" height="25" alt="Amis">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="{{asset("images/icons/house.svg")}}" width="25" height="25" alt="Acceuil">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"><img src="{{asset("images/icons/door-open.svg")}}" width="25" height="25" alt="Se déconnecter"></a>
                    </li>

                {% endif %}
            </ul>
        {% endif %}
    </div>
</nav>

    </div>
</nav>

