{% extends 'base.html.twig' %}

{% block title %}Hello ConversationController!
{% endblock %}

{% block body %}

{% for conversation in conversations %}

	<div class="card mb-3" style="max-width: 100%;">
		<div class="row g-0">
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{ conversation.user1.username }} {{ conversation.user2.username }}</h5>
				</p>
				<footer class="blockquote-footer">Crée le :
					{{conversation.createdAt|date('d/m/Y à h:i')}}
					{{ conversation.updatedAt is not null ? "modifié le : " ~ conversation.updatedAt|date('d/m/Y à h:i') }}</footer>
				<div class="d-grid gap-2 col-6 mx-auto">
					<a href="{{path('conversation_read',{'id': conversation.id}) }}">
						<button class="btn btn-danger" type="button">commencer à discuter !</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endfor %}
{% endblock %}
