{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{user.username}}</h1>

	<div>
		<img src="{{ asset(images_directory ~ '/' ~ user.avatar)}}" class="img-thumbnail" width="200" height="200" alt="{{app.user.username}}">
	</div>

	<div>
		<p>{{user.email}}</p>
		<p>{{user.description}}
		</p>
	</div>

	<a href="{{path("user_edit")}}">
		<button class="btn btn-danger" type="button">
			Changer ses informations
		</button>
	</a>
{% endblock %}
