{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{user.username}}</h1>
	<div class="card mb-3" style="max-width: 100%;">
		<div class="row g-0">
			<div class="col-md-2">

				<img src="{{ asset(images_directory ~ '/' ~ user.avatar)}}" class="img-thumbnail" width="200" height="200" alt="{{user.username}}">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<p class="card-text">
						{{user.description}}
					</p>
				</div>
			</div>
		</div>
	</div>
<<<<<<< HEAD
=======

					{% if is_granted('ROLE_USER', user) %}
					<form action="{{ path('friend_add', {id: user.id}) }}" method="post" class="d-inline">

						<button class="btn btn-danger">Ajouter en ami</button>

						<input type="hidden" name="_method" value="add">
						<input type="hidden" name="_token" value="{{ csrf_token('addFriend') }}">
					</form>
				{% endif %}

>>>>>>> friends-list
{% endblock %}
