{% extends 'base.html.twig' %}

{% block body %}

	<!--	<div class="card" style="width: 100%;">
				{% set images_directory = app.request.server.get('UPLOAD_IMAGES_DIRECTORY') %}
				<img src="{{ asset(images_directory ~ '/' ~ users.avatar)}}" class="card-img-top" alt="{{app.user.username}}">
				<div class="card-body">
					<h5 class="card-title">{{users.username}}</h5>
					<p class="card-text">{{users.description}}Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo accusantium officiis maxime architecto modi doloribus facilis quibusdam esse quos adipisci neque tempora sunt reprehenderit maiores, soluta vitae beatae optio? Aut?</p>
					<div class="d-grid gap-2 d-md-flex justify-content-md-around">
						<button class="btn btn-primary me-md-2" type="button">message</button>
						<button class="btn btn-primary" type="button">Ajouter en ami</button>
					</div>
				</div>
			</div>-->


	<div>
		{% set images_directory = app.request.server.get('UPLOAD_IMAGES_DIRECTORY') %}
		<img src="{{ asset(images_directory ~ '/' ~ users.avatar)}}" class="img-thumbnail rounded mx-auto d-block" width="200" height="200" alt="{{app.user.username}}">
	</div>

	<h2 class="text-center">{{users.username}}</h2>

	<div>
		<p class="text-center text-dark bg-white fs-3 rounded">{{users.description}}
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo accusantium officiis maxime architecto modi doloribus facilis quibusdam esse quos adipisci neque tempora sunt reprehenderit maiores, soluta vitae beatae optio? Aut?
			{# <a href="#">afficher plus</a>#}
		</p>
	</div>

	<div class="d-grid gap-2 d-md-flex justify-content-md-around">
		<a href="{{path('conversation_add',{'id': users.id}) }}">
			<button class="btn btn-primary me-md-2" type="button">Message</button>
		</a>
		<button class="btn btn-primary" type="button">Ajouter en ami</button>
	</div>

{% endblock %}
